.container {
    background-color: #2e2e2e;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    max-width: 100vw;
    padding: 30px;
}

h1 {
    color: #f0963a;
    font-weight: bold;
}

.card {
    background-color: #3a3a3a;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: #2e2e2e;
    color: #f1f1f1;
    border-bottom: 1px solid #444;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-header h5 i {
    color: #f0963a;
}

.btn-naranja {
    background-color: #f0963a;
    color: white;
    border: none;
}

.btn-naranja:hover {
    background-color: #e67e22;
    color: white;
}

.table {
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #f0963a;
    color: white;
}

.table tbody tr:hover {
    background-color: #545454;
}

.btn-outline-crud {
    color: #f0963a;
    border-color: #f0963a;
}

.btn-outline-crud:hover {
    background-color: #f0963a;
    color: white;
}

.dataTables_filter label {
    color: #f0963a;
}

footer {
    background-color: #1f1f1f;
    color: #bbb;
    border-top: 1px solid #444;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

footer span {
    color: #f0963a;
}