.contenedor {
    height: 100%;
}

.contenedorPrincipal {
    background-color: #2e2e2e;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 40px;
}

h1 {
    color: #f0963a;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.table-container {
    background-color: #3a3a3a;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.table {
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    min-width: 1000px;
}

.table thead {
    background-color: #f0963a;
    color: white;
    font-size: 0.85rem;
}

.table tbody tr:nth-child(even) {
    background-color: #3f3f3f;
}

.table tbody tr:hover {
    background-color: #545454;
}

.btn-icon i {
    margin-right: 0;
}

.btn-sm {
    padding: 4px 8px;
    margin: 7px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #f0963a !important;
    border-radius: 6px;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

.btn-primary {
    background-color: #f0963a;
    border: none;
}

.btn-primary:hover {
    background-color: #e67e22;
}

.btn-group-custom {
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    background-color: #1f1f1f;
    color: #bbb;
    border-top: 1px solid #444;
}

footer span {
    color: #f0963a;
}

@media (max-width: 768px) {
    .table {
        min-width: 100%;
        font-size: 0.85rem;
    }
}